.row
{
    text-align: center;
}
form{
    padding-left: 40%;
 }
 .titre2
{
    color: black;
    padding-left: 27%;
    
}
.container
{
    text-align: center;
      
}
.titre
{
    font-weight: bold;
    font-size: 150%;
    padding-left: 27%;
}
 footer{
    background-image: url(../../assets/images/fond.png);

}
.foot1{
    color: white;
    float:left;
}
.foot2{
    color: white;
    
    
}
.foot3{
    color: white;
    float:left;
}
.foot4{
    color: white;
}