.row2
{
    text-align: center;
    
}
form{
   padding-left: 40%;
}
.container{
    padding-right: 26%;
    padding-left: 22%;
}
.titre2
{
    color: black;
    padding-left: 26%;
    
}
.container
{
    text-align: center;
      
}
.titre
{
    font-weight: bold;
    font-size: 150%;
    padding-left: 26%;
}
footer{
    background-image: url(../../assets/images/fond.png);

}
.foot1{
    color: white;
    float:left;
}
.foot2{
    color: white;
    
    
}
.foot3{
    color: white;
    float:left;
}
.foot4{
    color: white;
}