.row2
{
    text-align: center;
}
.titre
{
    color: blue;
    text-align: center;
}
.titre2
{
    color: black;
    text-align: center;
}

body{
    background: #67BE4B;
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

