
   <!--The content below is only a placeholder and can be replaced.-->
   <header>
    <div class="content">
       <img src="../assets/images/dropvault.ico" class="logo" alt="logo DV">
        <h1 class="titre1">
          <strong>{{title}}</strong>
        </h1>
        
        
      </div>
      
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary justify-content-between">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav">
                <li class="nav-item active" routerLinkActive = "active"><a class="nav-link" routerLink="" > Accueil</a></li>
                <li class="nav-item active " routerLinkActive = "active"><a class="nav-link" routerLink="auth/" >Authentification</a></li>
                <li class="nav-item active" routerLinkActive = "active"><a class="nav-link" routerLink="upload/" >Espace de dépot</a></li>
                <li class="nav-item active" routerLinkActive = "active"><a class="nav-link" routerLink="archive/" >Espace de stockage</a></li>
                <li class="nav-item active" routerLinkActive = "active"><a class="nav-link" routerLink="share/" >Espace d'échange</a></li>
                
            </ul>
            <form class="form-inline">
              <input class="form-control" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-success" type="submit">Rechercher</button>
            </form>
      </div>
    
    </nav>
    
   </header>
   
   <router-outlet></router-outlet>
  

      
     

   