.titre1
{
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    color: black;

}


.logo
{
    position: absolute; left: 30px; top : 1px;
    width: 290px;
}
.share

{
    width: 290px;
    position: absolute; right: 50px; top: 1px;
}
.mid
{
    width: 600px;
    position: absolute; top : 300px ; left : 400px;
}


.pied
{
    position: absolute; top: 600px;
}

.facebook
{
    width: 40px;
    float: right;
}

.instagram
{
    width: 40px;
    float: right;
}

.snapchat
{
    width: 40px;
    float: right;
}