
<body>
<div class="container">
    <p class="p1">
      <strong>DropVault</strong>
    </p>
  </div>
  <div class="container">
    <p class="p2">
      Partagez vos fichiers en toute sécurité
    </p>
  </div>
  <div class="container">
        <p class="p3">
       Dropvault est un site de partage de documents en ligne qui sécurise par un chiffrement AES
       le stockage et les echanges de fichiers entre individus authentifiés. 
       Chaque utilisateur à le droit d'accèder à la liste des fichiers qu'il a upload sur la plateforme.
    </p>
</div>
<div class="container">
  <button class="btn btn-light">Inscrivez vous gratuitement</button>
</div>

</body>