<div class="container">
    <p>
      DropVault est le premier site de partage de documents en ligne qui sécurise les échanges entre individus authentifiés.
      Le site utilise un algorithme de chiffrage blowfish pour chiffrer les documents stocker sur la plateforme. 
      Vous pouvez avoir confiance en nous ! Vos ressources sont entre de bonnes mains. 
      Chaque utilisateur à le droit d'accèder à la liste des fichiers qu'il a upload sur la plateforme ainsi il peut échanger
      avec d'autres utilisateurs de son choix. Ainsi tous les documents sont maintenus secrets.
      Celui qui cache son secret est maître de sa route !
    </p>
    <button type="submit" class="btn btn-primary" (click)="onSignOut()">Se deconnecter</button>

      
  </div>