.container-fluid
{
    font-size: 100%;
    color: white;
    text-align: left;
    

}
body{
    background-image: url(../../assets/images/fon6.png);
}
.p1{
    
    font-size: 300%;
}
.p2
{
    
    font-size: 200%;
    font-weight: bold;
}
.p5{
    color: black;
    font-size: 200%;
    font-weight: bold;
}
.p3{
    font-size: 200%;
}
.btn{
    color: black;

}
.button{
    text-align: center;

    height: 200%;
}

.p4{
    font-size: 200%;
}
.container{
    padding-right: 26%;
    padding-left: 22%;
    text-align: center;
}
footer{
    background-image: url(../../assets/images/fond.png);

}
.foot1{
    color: white;
    float:left;
}
.foot2{
    color: white;
    
    
}
.foot3{
    color: white;
    float:left;
}
.foot4{
    color: white;
}