<body>
  <br>
<div class="container-fluid">
    <p class="p1">
      <strong>DropVault</strong>
    </p>
  </div>
<br>
  <div class="container-fluid">
    <p class="p2">
      Partagez vos fichiers en toute sécurité
    </p>
    <br>
  </div>
  <div class="container-fluid">
        <p class="p3">
       Dropvault est un site de partage de documents en ligne qui sécurise par un chiffrement AES
       le stockage et les echanges de fichiers entre individus authentifiés. 
       Chaque utilisateur à le droit d'accèder à la liste des fichiers qu'il a déposé sur la plateforme.
    </p>
</div>
<br>
<br>
<div class="button">
  <button class="btn" (click)="onclick()">Inscrivez vous gratuitement</button>
</div>
<br>
<br>
<div class="container-fluid">
  <p class="p2">
    Réalisez des actions 
  </p>
  <br>
</div>
<div class="container-fluid">
  <p class="p4">
 Après authentification, l'utilisateur se voit attribuer un token d'authentification qui lui permettra
 d'effectuer l'intégralité des actions disponibles sur le site. 
 Par l'intermédiaire de multiples boutons, il pourra créer, lister et supprimer tous les documents qu'il souhaite en ne dépassant pas la limite de 5Mo.
</p>
</div>
</body>
<br>
<br>
<div class="container-fluid">
  <p class="p5">
    Organisez vos documents comme vous le souhaitez 
  </p>
  <br>
</div>
<div>
  <img src="../../assets/images/stockage.png">
</div>
<footer>
  <br>
  <br>
  <div class="container">
  <div class="foot1">
    <h3>DropVault</h3>
    <h5>Sécurité</h5>
    <h5>Fonctionnalités</h5>
    <h5>Langues</h5>
    <h5>Aide</h5>
  
  </div>
  <div class="foot2">
    <h3>Assistance</h3>
    <h5>Centre d'assistance</h5>
    <h5>Cookies</h5>
    <h5>Confidentialité et conditions</h5>
    <h5>Aide</h5>
 
  <br>
  </div>
</div>
<div class="container">
  <div class="foot3">
  <h3>Nous contacter</h3>
  <h5>Facebook</h5>
  <h5>Instagram</h5>
  <h5>Twitter</h5>
  <h5>Google</h5>
  </div>
  <div class="foot4">
    <h3>A propos de</h3>
    <h5>Médias</h5>
    <h5>Forum</h5>
    <h5>Blog</h5>
    <h5>Parrainages</h5>
    </div>
  </div>
  </footer>

