
<div class="row">
  <div class="col-8">
    <label class="btn btn-default p-0">
      <input type="file" name="fichier" id="fichier" (change)="chiffrement($event)" ngModel>
    </label>
  </div>

  <div class="col-4">
    <button class="btn btn-success btn-sm" [disabled]="!selectedFiles" >
      Upload
    </button>
  </div>
</div>


<div class="card mt-3">
  <button class="btn bt-warning" (click)="getfiles()"> Lister files</button>
  <div class="card-header">List of Files
    
  </div>
  <ul class="list-group list-group-flush"> 
    <li class="list-group-item" *ngFor="let name of listFile ">
      <a (click)="download(name)">{{name}}</a>
      <button type="submit" class="btn btn-danger" (click)= "onDelete(name)">Supprimer</button>
    </li>
  </ul>
</div>

  

 
  





