
    <h1>Déposez vos <strong>documents ici</strong></h1>
    <form>
    <div class="form-group">
        <label for="depot">
        </label>
        <input type="file" id="depot" class="form-control" ngModel>
    </div>
    <div class="row">
      <button type="submit" class="btn-success"> Partager</button>
    </div>
  </form>
    <h1>Liste de vos <strong>documents</strong></h1>
    <div class="row">
      <button type="submit" class="btn-danger"> Retirer</button>
    </div>
    <div class="row">
      <button type="submit" class="btn-primary"> Modifier</button>
    </div>
    <div class="row">
      <button type="submit" class="btn-warning"> Lister</button>
    </div>

   

    
  


