/* You can add global styles to this file, and also import other style files */
html
{
    background-image: url(../src/images/share.png);
    width: auto;
    background-repeat: no-repeat;
    background-position: 420px 300px;
}